.flex{
    display: flex;
}

body{background: black;}

.container{
    width: 80vw;
}

section{
    margin: 0 auto;
}

#menu{
    list-style: none;
    gap: 4vw;
}

#menu-1{
    
    width: 80%;
    justify-content: left;
    color: white;
}

#menu-2{
   
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1vw;
    color: white;
}


#Banner{
    background: url(../img/imagem_principal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
