.flex{
    display: flex;
}

html{
    font-family: 'roboto';
}

@font-face {
    font-family: 'roboto';
    src: url(../fontes/Roboto/roboto.ttf);
}

body{background: black;
color: white;}

.container{
    width: 80vw;
}

.flex{
    display: flex;
}

section{
    margin: 0 auto;
}

#menu{
    list-style: none;
    gap: 4vw;
}



#menu-1{
    
    width: 90%;
    justify-content: left;
    color: white;
}

#menu-2{
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1vw;
    color: white;
}


#Banner{
    background: url(../img/imagem_principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    /* opacity: 0.7; */
}

#filme{
    width: 120%;;
    
}

#texto{
    color: white;
}

#informacoes-banner{
    width: 80vw;
    margin: 0 auto;

}

#info-esquerdo{
    width: 50%;
    padding-top: 30vh;
}



#icone{
    text-decoration: none;
    display: flex;
    list-style: none;
    gap:2vw;
}

#menu-1 ul{
    list-style: none;
    gap: 10px;
    align-items: center;
}

#menu-1{
      justify-content: start;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(255, 45, 45);
}


.direito{
    justify-content: end;
}

#menu-2{
    justify-content: end;
}

#assistir{
    background: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}

#mais{
   color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    background: rgba(128, 128, 128, 0.404);
    
}

button:hover{
    cursor: pointer;
}

#lista1{
    gap: 10px;
}

#lista1 img{
    width: 18vw;
    height: 25vh;
}

#redesl{
    list-style: none;
    gap: 15px;
    padding: 0;
}

.none{
    list-style: none;
}

.none li{
    padding-bottom: 20px;
}

#rodape{
    gap: 5vw;
}



